<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buffet</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=McLaren&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7b3b63fc99.js" crossorigin="anonymous"></script>

    <style>
        #brand-name {
            color: #8C4830;
            font-family: 'Quicksand', sans-serif;
        }

        #nav-bar {
            background-color: #F2EEEB !important;
        }

        .masthead {
            height: 100vh;
            min-height: 500px;
            background-image: url('/Image/hinhkhachhangfeedback.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            font-family: 'Quicksand', sans-serif;
        }
    </style>


</head>

<body>
    <!-- Navigation -->
    <nav id="nav-bar" class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
        <a id="brand-name" class="navbar-brand mx-auto" href="/index.html">The Dreamer Hotel</a>
    </nav>

    <!-- Full Page Image Header with Vertically Centered Content -->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">

                    <h1 class="font-weight-light" style="color:#8C4830;;">BEST HOTEL IN TOWN</h1>
                    <p class="lead">Dịch vụ và Ưu đãi</p>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <section class="py-5">
        <div class="container">
            <h2 class="font-weight-light">Buffet</h2>
            <p>Tương tự như các quốc gia châu Á khác, ẩm thực là một phần không thể thiếu trong đời sống người Việt. Với
                vô vàn sự lựa chọn không chỉ là phở hay bánh mỳ, ẩm thực Việt Nam giờ đây là sự hòa nhập với các phong
                cách ẩm thực của Pháp và châu Âu. Ẩm thực đường phố Việt Nam đã trở nên vô cùng nổi tiếng và nhiều
                chuyên gia ẩm thực coi đây là là nơi có ẩm thực đường phố ngon nhất thế giới. Tại Khách sạn Equatorial,
                chúng tôi luôn cố gắng đem đến cho quý khách những món ăn ngon miệng và được yêu thích nhất của thành
                phố Hồ Chí Minh cùng với các món ăn đặc sắc phương Tây tại một chuỗi các nhà hàng nổi tiếng.</p>
            <br>
            <p>
                Những thực khách đã từng trải nghiệm và yêu thích buffet hải sản của khách sạn The Dreamer Sài Gòn sẽ
                không thể bỏ qua cơ hội thoải mái thưởng thức hải sản đa dạng từ tôm hùm, hàu nhập từ Pháp, cua, cá
                hồi, bạch tuộc… cùng với sushi, sashimi, nhiều món ngon được nấu tại chỗ và các quầy tráng miệng hấp
                dẫn. <br>
                <br>
                La Brasserie, 6:00 pm - 10:00 pm <br>
                VND 1,300,000++/người lớn (*) <br>
                Bao gồm uống thỏa thích rượu vang, bia, nước ngọt, nước trái cây, trà và cà phê. <br>
                <br>
                <i>(*) Giá trên chưa bao gồm 5% phí phục vụ và 10% thuế VAT. <br></i>

                Vui lòng đặt chỗ trước. <br>
                Để biết thêm thông tin và đặt bàn, vui lòng gọi (08) 3929 5520 hoặc email <br>
                dining@thedreamerhotel.com.vn <br>
            </p>
        </div>
    </section>

    <!-- Image -->
    <!-- Page Content -->
    <div class="container">



        <div class="row text-center text-lg-left">

            <div class="col-lg-4 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="/Image/buffet1.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="/Image/buffet2.jpeg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail " src="/Image/buffet3.jpeg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="/Image/buffet4.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="/Image/buffet6.jpeg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="/Image/buffet6.jpg" alt="">
                </a>
            </div>
        </div>

    </div>
    <!-- /.container -->
</body>

</html>