<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Groups</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=McLaren&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7b3b63fc99.js" crossorigin="anonymous"></script>

    <style>
        #brand-name {
            color: #8C4830;
            font-family: 'Quicksand', sans-serif;
        }

        #nav-bar {
            background-color: #F2EEEB !important;
        }

        .masthead {
            height: 100vh;
            min-height: 500px;
            background-image: url('/Image/hinhnhincaiho.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            font-family: 'Quicksand', sans-serif;
        }
    </style>


</head>

<body>
    <!-- Navigation -->
    <nav id="nav-bar" class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
        <a id="brand-name" class="navbar-brand mx-auto" href="/index.html">The Dreamer Hotel</a>
    </nav>

    <!-- Full Page Image Header with Vertically Centered Content -->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">

                    <h1 class="font-weight-light" style="color:#8C4830;;">BEST HOTEL IN TOWN</h1>
                    <p class="lead">Dịch vụ và Ưu đãi</p>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <section class="py-5">
        <div class="container">
            <h2 class="font-weight-light">Group</h2>
            <p>Lên kế hoạch cho kỳ nghỉ của bạn từ hôm nay đến hết ngày 26/12/2019 và tận hưởng mức giá đặc biệt cùng
                những dịch vụ và tiện ích cao cấp chỉ áp dụng cho phòng King <br>
                <br>
                Tiện nghi cao cấp<br>
                <ul>
                    <li>Bộ sản phẩm chăm sóc thuộc dòng thương hiệu nổi tiếng L’Occitane (Dầu gội đầu, Dầu xả, Sữa tắm,
                        Sữa
                        dưỡng thể)</li>
                    <li>Máy lọc không khí hiện đại</li>
                    <li>Máy pha cà phê Espresso</li>
                    <li>Phòng tắm riêng với bồn tắm và nhà vệ sinh tự động</li>
                    <li>Tận hưởng quyền lợi tại Nikko Club Lounge:</li>
                </ul>






                Đắm chìm với khung cảnh thành phố từ trên cao và thư giãn với các dịch vụ tại Nikko Club Lounge – Tầng
                23
                <ul>
                    <li>Buffet sáng, tiệc trà chiều và các món ăn nhẹ</li>
                    <li>Giờ vàng với menu thức ăn và đồ uống đa dạng</li>
                    <li>Sử dụng phòng họp mỗi ngày trong thời gian 1 tiếng, tối đa dành cho 10 người (Vui lòng đặt lịch
                        trước)</li>
                    <li>Check-out trễ: 15:00 giờ</li>
                    <li>
                        Ưu đãi này chỉ áp dụng cho những kỳ nghỉ từ hôm nay cho đến hết ngày 26/12/2019.</li>
                </ul>




            </p>
        </div>
    </section>

    <!-- Image -->
    <!-- Page Content -->
    <div class="container">



        <div class="row text-center text-lg-left">

            <div class="col-lg-4 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="/Image/group1.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="/Image/group2.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail " src="/Image/group3.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="/Image/group4.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="/Image/group5.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="/Image/group6.jpg" alt="">
                </a>
            </div>
        </div>

    </div>
    <!-- /.container -->
</body>

</html>