<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Massage</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=McLaren&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7b3b63fc99.js" crossorigin="anonymous"></script>

    <style>
        #brand-name {
            color: #8C4830;
            font-family: 'Quicksand', sans-serif;
        }

        #nav-bar {
            background-color: #F2EEEB !important;
        }

        .masthead {
            height: 100vh;
            min-height: 500px;
            background-image: url('/Image/ms6.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            font-family: 'Quicksand', sans-serif;
        }
    </style>


</head>

<body>
    <!-- Navigation -->
    <nav id="nav-bar" class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
        <a id="brand-name" class="navbar-brand mx-auto" href="/index.html">The Dreamer Hotel</a>
    </nav>

    <!-- Full Page Image Header with Vertically Centered Content -->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">

                    <h1 class="font-weight-light" style="color:#8C4830;;">BEST HOTEL IN TOWN</h1>
                    <p class="lead">Dịch vụ và Ưu đãi</p>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <section class="py-5">
        <div class="container">
            <h2 class="font-weight-light">Massage</h2>
            <p>Theo yêu cầu, chúng tôi có thể sắp xếp các dịch vụ mát-xa, trong sự thoải mái của phòng khách sạn của
                bạn, hoặc trong khu vực chăm sóc sức khỏe và spa trong nhà, nơi các nhân viên chuyên nghiệp sẽ vui vẻ
                làm hết mức để đảm bảo rằng cơ thể bạn sẽ có cảm giác đã thực sự được nuông chiều và chăm sóc tốt, trong
                khi bạn cảm thấy bình tĩnh và thư giãn sâu sắc sau đó.</p>
            <br>
            <p>
                Ưu đãi này bao gồm một loạt các dịch vụ massage, ví dụ: massage cổ điển, thoát bạch huyết, massage chống
                căng thẳng, massage Thái, bóng đèn Trung Quốc, massage sô cô la thể thao, mát xa thư giãn bằng đá nóng,
                và nhiều hơn nữa.<br>
                <br>
                <i>(*) Giá trên chưa bao gồm 5% phí phục vụ và 10% thuế VAT. <br></i>

                Vui lòng vui lòng đặt trước theo người hoặc bằng cách gọi: (+ 48) 12 42-41-300 hoặc qua e-mail:
                dining@thedreamerhotel.com.vn <br>
            </p>
        </div>
    </section>

    <!-- Image -->
    <!-- Page Content -->
    <div class="container">



        <div class="row text-center text-lg-left">

            <div class="col-lg-4 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="/Image/ms1.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="/Image/ms2.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail " src="/Image/ms3.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="/Image/ms4.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="/Image/ms5.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="/Image/ms6.jpg" alt="">
                </a>
            </div>
        </div>

    </div>
    <!-- /.container -->
</body>

</html>