<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirm Booking</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=McLaren&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7b3b63fc99.js" crossorigin="anonymous"></script>

    <style>
        #brand-name {
            color: #F2EEEB;
            font-family: 'Quicksand', sans-serif;
        }

        .btn-booking {
            background-color: #f6e58d;
            color: #535c68;

        }

        .btn-booking:hover {
            background-color: #f9ca24;

        }

        .error {
            color: red !important;
        }

        .error-text {
            border: 1px solid red !important;
        }
    </style>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a id="brand-name" class="navbar-brand mx-auto" href="/index.html">The Dreamer Hotel</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Controller/signup.html">Regsiter

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Controller/signin.html">Sign in</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <form id="formconfirm" action="#!" class="needs-validation" novalidate>
        <!-- Page Content -->
        <div class="container">

            <div class="row">

                <!-- Post Content Column -->
                <div class="col-lg-8">

                    <!-- Title -->
                    <h1 class="mt-4" style="font-family: Montserrat, sans-serif">Your Booking Details</h1>

                    <hr>

                    <p class="text-center">Hãy xác nhận thông tin để đặt phòng</p>

                    <hr>

                    <!-- Preview Image -->
                    <div class="container-fluid" style="height: 400px;">
                        <img class=" img-fluid rounded" src="/Image/phongking1.jpg" style="width: 100%;height: 100%;"
                            alt="">
                    </div>
                    <div class="mt-3 font-weight-bold">Phòng bạn đặt là: .... <a class="font-italic font-weight-light"
                            href="/View/Phong/index.html" style="text-decoration: underline ; font-size: 12px;">Bạn có
                            muốn
                            đổi phòng?</a>
                    </div>


                    <hr>
                    <div class="card my-3">
                        <div class="card-body">
                            <p class="card-text"><b>Check-in:</b>
                                Friday, November 15, 2019 from 2:00 PM
                                <br><b> Check-out: </b>
                                Saturday, November 23, 2019 until 12:00 PM

                        </div>
                    </div>
                    <div class="card my-3">
                        <div class="card-header">
                            Your price summary
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <p class="card-text"><b> Ten phong</b></p>
                                        <p class="card-text"><b> Total length of stay:</b></p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p class="card-text">Gia phong $</p>
                                        <p class="card-text">So ngay o</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-flex">
                            <h5>Price</h5>
                            <div class="text-muted ml-auto">Tong gia tien tien luon ca tien buffet hoac dua don san bay
                                $
                            </div>
                        </div>

                    </div>


                    <!-- Post Content -->
                </div>

                <!-- Sidebar Widgets Column -->
                <div class="col-md-4">

                    <!-- Search Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">Thông tin của bạn</h5>
                        <div class="card-body">
                            <div class="border-bottom my-3">
                                <a href="#">Đăng nhập</a> nếu bạn đã có tài khoản ?
                            </div>

                            <div class="form-row ">
                                <div class="col-md-4 mb-3">
                                    <label for="firstname">First name</label>
                                    <input type="text" class="form-control" id="firstname" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        This Field cannot be empty.
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="lastname">Last name</label>
                                    <input type="text" class="form-control" id="lastname" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        This Field cannot be empty.
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="username">Username</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="username" required>
                                        <div class="invalid-tooltip">
                                            Please choose an username.
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="email">Email address</label>
                                    <input type="email" class="form-control" id="email" placeholder="Enter email"
                                        required>
                                    <div class="invalid-feedback">
                                        Please Enter a valid email ID
                                    </div>
                                    <div class="valid-feedback">
                                        Looks Good!.
                                    </div>

                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="confirmEmail">Confirm email</label>
                                    <input type="email" class="form-control" id="confirmEmail" required>
                                    <div id="validate" class="valid-feedback">
                                        Emails should match
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">

                                <label for="mobile">Phone</label>
                                <input type="tel" pattern=".{10}" class="form-control" id="phone" oninput="check(this)"
                                    required>
                                <div class="valid-feedback">
                                    Looks Good!.
                                </div>
                                <div class="invalid-feedback">
                                    Please provide a valid number.
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="terms" required>
                                    <label class="form-check-label" for="terms">
                                        Agree to terms and conditions
                                    </label>
                                </div>
                            </div>
                            <button class="btn btn-booking btn-block" data-toggle="tooltip" data-placement="top"
                                title="I want this room!" type=" submit">Book</button>

                        </div>
                    </div>

                    <!-- Categories Widget -->
                    <div class="card my-4">
                        <h5 class="card-header"> Dịch vụ đi kèm</h5>
                        <div class="card-body">
                            <ul class="list-unstyled mb-0">
                                <li class="d-flex px-3">
                                    <div>
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="duadonsanbay">
                                                <label class="form-check-label" for="duadonsanbay">
                                                    Đưa đón sân bay
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ml-auto"> 50$</div>
                                </li>
                                <li class="d-flex px-3">
                                    <div>
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="buffet">
                                                <label class="form-check-label" for="buffet">
                                                    Buffet
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ml-auto"> 20$</div>
                                </li>
                            </ul>

                        </div>
                    </div>

                    <!-- Side Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">Thông tin liên quan</h5>
                        <div class="card-body">
                            <a href="/View/about.html#otherRule" class="badge badge-info btn-block p-3"
                                style="font-size: 18px;">Nội quy khách
                                sạn</a>
                            <a href="/View/rulebooking.html" class="badge badge-secondary btn-block p-3"
                                style="font-size: 18px;">Quy định đặt phòng</a>
                        </div>
                    </div>

                </div>

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
    </form>
    <!-- Footer -->
    <footer class="page-footer font-small stylish-color-dark pt-4 w-100">



        <div class="bg-dark p-3 text-light">
            <!-- Social buttons -->
            <ul class="list-unstyled list-inline text-center">
                <li class="list-inline-item">
                    <button class="btn btn-facebook btn-link btn-icon-only btn-circle waves-effect ">
                        <i class="fab fa-facebook-f"></i>
                    </button>
                </li>
                <li class="list-inline-item">
                    <button class="btn btn-twitter btn-link btn-icon-only btn-circle waves-effect waves-teal text-info">
                        <i class="fab fa-twitter"></i>
                    </button>
                </li>
                <li class="list-inline-item">
                    <button
                        class="btn btn-google btn-link btn-icon-only btn-circle waves-effect waves-red btn-lg text-danger">
                        <i class="fab fa-google-plus-g"></i>
                    </button>
                </li>
            </ul>
            <!-- Social buttons -->

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3" style="color: #BDC581; ">© 2019 Copyright: Khách sạn
                người
                mơ
            </div>
            <!-- Copyright -->
        </div>
    </footer>
    <!-- Footer -->
    <script>
        function check(input) {
            if (input.length != 10)
                return false;
            return true;
        }



        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        var email = $("#email").val();
                        var confirmemail = $("#confirmEmail").val();
                        if (email !== confirmemail) {
                            form.classList.add('was-validated');
                            $("#validate").html("Email Should Match");
                            $("#validate").addClass("error");
                            $("#confirmEmail").addClass("error-text");
                            event.preventDefault();
                            event.stopPropagation();
                        } else {
                            form.classList.add('was-validated');
                            $("#validate").removeClass("error");
                            $("#confirmEmail").removeClass("error-text");
                            $("#validate").html("Looks Good!");
                        }
                    }, false);
                });
            }, false);
        })();


        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>

</html>